<div class="container">
    <div class="product-image">  
      <img src="./assets/img/produto.png" alt="" class="product-pic">
    </div>
    
    <div class="product-details">
      <header>
        <h1 class="title">Nome Produto</h1>
        <span class="colorCat">Categoria</span>
        <div class="price">
          <span class="before">Preço antigo</span>
          <span class="current">R$ PREÇO NOVO</span>
        </div>
        <div class="rate">
          <a href="" class="active">★</a>
          <a href="" class="active">★</a>
          <a href="" class="active">★</a>
          <a href="">★</a>
          <a href="">★</a>
        </div>
      </header>
      <article>
        <h5>Descriçao</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </article>
      <div class="controls">
        <div class="color">
          
        </div>
        <div>
          <h5>Quantidade</h5>
          <input type="number" class="form-control mt-2" id="nomeProduto" placeholder="1">
        </div>
        <div>
          <h5>Tamanho</h5>
                                <select class="form-control mt-2" id="exampleFormControlSelect1" placeholder="P">
                                    <option>P</option>
                                    <option>M</option>
                                    <option>G</option>
                                </select>
        </div>
      </div>
      <div class="footer">
        <button type="button">
          <span>Adicione ao carrinho</span>
        </button>
        <button type="button">
          <span>Comprar agora</span>
        </button>
        
      </div>
    </div>
    
  </div>
  