<div class="container">
    <div class="product-image">  
      <img src={{produto.foto}} alt="" class="product-pic">
    </div>
    
    <div class="product-details">
      <header>
        <h1 class="title">{{produto.nome}}</h1>
        <span class="colorCat">Estoque: {{produto.quantidade}}</span>
        <div class="price">
          <span class="before">De {{valorAntigo}}</span>
          <span class="current">Por R$ {{produto.preco}}</span>
        </div>
        <div class="rate">
          <a class="active">★</a>
          <a class="active">★</a>
          <a class="active">★</a>
          <a class="active">★</a>
          <a >★</a>
        </div>
      </header>
      <article>
        <h5>Descriçao</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </article>
      <div class="controls">
        <div class="color">
          
        </div>
        <div>
          <h5>Quantidade</h5>
          <input type="number" class="form-control mt-2" id="nomeProduto" placeholder="1">
        </div>
        <div>
          <h5>Tamanho</h5>
                                <select class="form-control mt-2" id="exampleFormControlSelect1" placeholder="P">
                                    <option>P</option>
                                    <option>M</option>
                                    <option>G</option>
                                </select>
        </div>
      </div>
      <div class="footer">
        <button type="button" [routerLink]="['/carrinho', produto.idProduto]">
          <span>Adicione ao carrinho</span>
        </button>
        
        <a href="https://mpago.la/31UqYCn" target="_blank">
        <button style="
        display: flex;
        border: 0;
        align-items: center;
        cursor: pointer;
        background: linear-gradient(to bottom, #7db9e6 0%, #4389bf 100%);
        transition: 200ms;">
          <span >Comprar agora</span>
        </button>
        </a>
      </div>
    </div>
    
  </div>